<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Expense</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <form class="expense-create">
      <label for="type">Type:</label>
      <input type="text" id="type" name="type" />

      <label for="cost">Cost:</label>
      <input type="number" id="cost" name="cost" />

      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" />

      <button>Add New Expense</button>
    </form>
    <%- include('../../partials/footer') %>

    <script src="/js/expenses/expenses.add.js"></script>
  </body>
</html>
